@tailwind components;
@tailwind utilities;

@layer tailwind {
  @tailwind base;
}

body {
  background-image: url('https://i.imgur.com/j0f9lNU.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
